/* Секция: Преимущества Веб-студии */
.advantages-websdudio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.advantages-list {
  display: flex;
  justify-content: center;

  &-item {
    width: 270px;
  }
  &-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-text-color2;
  }

  &-item:not(:last-child) {
    margin-right: 30px;
  }
}
.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  border-radius: 4px;
  background-color: $secondary-bcg-color;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
