.first-part-logo {
  color: $accent-color;
}
.second-part-logo {
  color: $title-text-color2;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.second-part-logo-footer {
  color: $title-text-color1;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  margin-right: 76px;
  font-family: $additional-font-family;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.166;

  & :hover,
  & :focus {
    color: $accent-color;
  }
}
