/* ЦВЕТА ТЕКСТА */
$primary-text-color: #757575;
$title-text-color1: #ffffff;
$title-text-color2: #434455;;
$accent-color:#4D5AE5;;
$primary-bcg-color: #ffffff;
$modal-form-text-color1: #2E2F42;
$modal-form-text-color2:#8E8F99;

/* ЦВЕТА ФОНА */
$primary-bcg-color: #ffffff;
$secondary-bcg-color: #F4F4FD;
$footer-bcg-color: #2E2F42;
$modal-form-bcg-color: #FCFCFC;

/* ШРИФТЫ */
$main-font-family: "Roboto", sans-serif;
$additional-font-family: "Raleway", sans-serif;
/* ИКОНКИ */
$main-icon-color: #F4F4FD;
$secondary-icon-color: #8E8F99;
/* ФОРМЫ */
$outline-input: rgba(255, 255, 255, 0.3);
