/* ЦВЕТА ТЕКСТА */
$primary-text-color: #757575;
$title-text-color1: #ffffff;
$title-text-color2: #212121;
$accent-color: #2196f3;
$primary-bcg-color: #ffffff;

/* ЦВЕТА ФОНА */
$primary-bcg-color: #ffffff;
$secondary-bcg-color: #f5f4fa;
$footer-bcg-color: #2f303a;

/* ШРИФТЫ */
$main-font-family: "Roboto", sans-serif;
$additional-font-family: "Raleway", sans-serif;
/* ИКОНКИ */
$main-icon-color: #afb1b8;
/* ФОРМЫ */
$outline-input: rgba(255, 255, 255, 0.3);
