html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: $primary-text-color;
  font-family: $main-font-family;
  font-style: normal;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
a {
  color: $primary-text-color;
}

p,
h3,
body,
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
